
@{
    ViewData["Title"] = "Remove";
}

    <div class="container">
        <h1>Product Removed</h1>
        <a class="btn btn-primary product-card__addtocart" asp-controller="Cart" asp-action="Index">View your cart Cart</a>

    </div>

