@model Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TrackingNumber" class="control-label"></label>
                <input asp-for="TrackingNumber" class="form-control" />
                <span asp-validation-for="TrackingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTotalPrice" class="control-label"></label>
                <input asp-for="OrderTotalPrice" class="form-control" />
                <span asp-validation-for="OrderTotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCanceled" /> @Html.DisplayNameFor(model => model.IsCanceled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CancelationDate" class="control-label"></label>
                <input asp-for="CancelationDate" class="form-control" />
                <span asp-validation-for="CancelationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

