<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Shopçik</title>
    <!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">
    <!-- css -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="vendor/photoswipe/default-skin/default-skin.css">
    <link rel="stylesheet" href="vendor/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <!-- font - fontawesome -->
    <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css">
    <!-- font - stroyka -->
    <link rel="stylesheet" href="~/fonts/stroyka/stroyka.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97489509-6"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-97489509-6');</script>
</head>
<body>
    <div class="site">
        <!-- mobile site__header -->
        <header class="site__header d-lg-none">
            <!-- data-sticky-mode - one of [pullToShow, alwaysOnTop] -->
            <div class="mobile-header mobile-header--sticky" data-sticky-mode="pullToShow">
                <div class="mobile-header__panel">
                    <div class="container">
                        <div class="mobile-header__body">
                            <button class="mobile-header__menu-button">
                                <svg width="18px" height="14px">
                                    <use xlink:href="images/sprite.svg#menu-18x14"></use>
                                </svg>
                            </button>
                            <a class="mobile-header__logo" href="index.html">
                                <img src="" alt="logo" />
                            </a>
                            <div class="search search--location--mobile-header mobile-header__search">
                                <div class="search__body">
                                    <form class="search__form" action="#">
                                        <input class="search__input"
                                               name="search"
                                               placeholder="Search over 10,000 products"
                                               aria-label="Site search"
                                               type="text"
                                               autocomplete="off">
                                        <button class="search__button search__button--type--submit" type="submit">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="images/sprite.svg#search-20"></use>
                                            </svg>
                                        </button>
                                        <button class="search__button search__button--type--close" type="button">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="images/sprite.svg#cross-20"></use>
                                            </svg>
                                        </button>
                                        <div class="search__border"></div>
                                    </form>
                                    <div class="search__suggestions suggestions suggestions--location--mobile-header"></div>
                                </div>
                            </div>
                            <div class="mobile-header__indicators">
                                <div class="indicator indicator--mobile-search indicator--mobile d-md-none">
                                    <button class="indicator__button">
                                        <span class="indicator__area">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="images/sprite.svg#search-20"></use>
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                                <div class="indicator indicator--mobile d-sm-flex d-none">
                                    <a href="wishlist.html" class="indicator__button">
                                        <span class="indicator__area">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="images/sprite.svg#heart-20"></use>
                                            </svg>
                                            <span class="indicator__value">0</span>
                                        </span>
                                    </a>
                                </div>
                                <div class="indicator indicator--mobile">
                                    <a href="cart.html" class="indicator__button">
                                        <span class="indicator__area">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="images/sprite.svg#cart-20"></use>
                                            </svg>
                                            <span class="indicator__value">3</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- mobile site__header / end -->
        <!-- desktop site__header -->
        <header class="site__header d-lg-block d-none">
            <div class="site-header">
                <div class="site-header__middle container">
                    <div class="site-header__logo">
                        <a href="index.html">
                            <img src="" alt="logo"/>
                        </a>
                    </div>
                    <div class="site-header__search">
                        <div class="search search--location--header">
                            <div class="search__body">
                                <form class="search__form" action="#">
                                    <input class="search__input"
                                           name="search"
                                           placeholder="Search over 10,000 products"
                                           aria-label="Site search"
                                           type="text"
                                           autocomplete="off">
                                    <button class="search__button search__button--type--submit" type="submit">
                                        <svg width="20px" height="20px">
                                            <use xlink:href="images/sprite.svg#search-20"></use>
                                        </svg>
                                    </button>
                                    <div class="search__border"></div>
                                </form>
                                <div class="search__suggestions suggestions suggestions--location--header"></div>
                            </div>
                        </div>
                    </div>
                    <div class="site-header__phone">
                        <div class="site-header__phone-title">Customer Service</div>
                        <div class="site-header__phone-number">(800) 060-0730</div>
                    </div>
                </div>
                <div class="site-header__nav-panel">
                    <!-- data-sticky-mode - one of [pullToShow, alwaysOnTop] -->
                    <div class="nav-panel nav-panel--sticky" data-sticky-mode="pullToShow">
                        <div class="nav-panel__container container">
                            <div class="nav-panel__row">
                                <div class="nav-panel__departments">
                                    <!-- .departments -->
                                    <div class="departments" data-departments-fixed-by="">
                                        <div class="departments__body">
                                            <div class="departments__links-wrapper">
                                                <div class="departments__submenus-container"></div>
                                                <ul class="departments__links">
                                                    <li class="departments__item">
                                                        <a class="departments__item-link" href="#">
                                                            Machine Tools
                                                            <svg class="departments__item-arrow" width="6px" height="9px">
                                                                <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                                                            </svg>
                                                        </a>
                                                        <div class="departments__submenu departments__submenu--type--megamenu departments__submenu--size--nl">
                                                            <!-- .megamenu -->
                                                            <div class="megamenu megamenu--departments">
                                                                <div class="megamenu__body" style="background-image: url('images/megamenu/megamenu-3.jpg');">
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <ul class="megamenu__links megamenu__links--level--0">
                                                                                <li class="megamenu__item megamenu__item--with-submenu">
                                                                                    <a href="#">Hand Tools</a>
                                                                                    <ul class="megamenu__links megamenu__links--level--1">
                                                                                        <li class="megamenu__item">
                                                                                            <a href="#">Screwdrivers</a>
                                                                                        </li>
                                                                                        <li class="megamenu__item">
                                                                                            <a href="#">Handsaws</a>
                                                                                        </li>
                                                                                        <li class="megamenu__item">
                                                                                            <a href="#">Knives</a>
                                                                                        </li>
                                                                                        <li class="megamenu__item">
                                                                                            <a href="#">Axes</a>
                                                                                        </li>
                                                                                        <li class="megamenu__item">
                                                                                            <a href="#">Multitools</a>
                                                                                        </li>
                                                                                        <li class="megamenu__item">
                                                                                            <a href="#">Paint Tools</a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </li>
                                                                                <li class="megamenu__item megamenu__item--with-submenu">
                                                                                    <a href="#">Garden Equipment</a>
                                                                                    <ul class="megamenu__links megamenu__links--level--1">
                                                                                        <li class="megamenu__item">
                                                                                            <a href="#">Motor Pumps</a>
                                                                                        </li>
                                                                                        <li class="megamenu__item">
                                                                                            <a href="#">Chainsaws</a>
                                                                                        </li>
                                                                                        <li class="megamenu__item">
                                                                                            <a href="#">Electric Saws</a>
                                                                                        </li>
                                                                                        <li class="megamenu__item">
                                                                                            <a href="#">Brush Cutters</a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <ul class="megamenu__links megamenu__links--level--0">
                                                                                <li class="megamenu__item megamenu__item--with-submenu">
                                                                                    <a href="#">Instruments</a>
                                                                                    <ul class="megamenu__links megamenu__links--level--1">
                                                                                        <li class="megamenu__item">
                                                                                            <a href="#">Welding Equipment</a>
                                                                                        </li>
                                                                                        <li class="megamenu__item">
                                                                                            <a href="#">Power Tools</a>
                                                                                        </li>
                                                                                        <li class="megamenu__item">
                                                                                            <a href="#">Hand Tools</a>
                                                                                        </li>
                                                                                        <li class="megamenu__item">
                                                                                            <a href="#">Measuring Tool</a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- .megamenu / end -->
                                                        </div>
                                                    </li>
                                                    <li class="departments__item">
                                                        <a class="departments__item-link" href="#">
                                                            Electrical
                                                            <svg class="departments__item-arrow" width="6px" height="9px">
                                                                <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                                                            </svg>
                                                        </a>
                                                        <div class="departments__submenu departments__submenu--type--menu">
                                                            <!-- .menu -->
                                                            <div class="menu menu--layout--classic">
                                                                <div class="menu__submenus-container"></div>
                                                                <ul class="menu__list">
                                                                    <li class="menu__item">
                                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                                        <div class="menu__item-submenu-offset"></div>
                                                                        <a class="menu__item-link" href="#">
                                                                            Soldering Equipment
                                                                            <svg class="menu__item-arrow" width="6px" height="9px">
                                                                                <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                                                                            </svg>
                                                                        </a>
                                                                        <div class="menu__submenu">
                                                                            <!-- .menu -->
                                                                            <div class="menu menu--layout--classic">
                                                                                <div class="menu__submenus-container"></div>
                                                                                <ul class="menu__list">
                                                                                    <li class="menu__item">
                                                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                                                        <div class="menu__item-submenu-offset"></div>
                                                                                        <a class="menu__item-link" href="#">Soldering Station</a>
                                                                                    </li>
                                                                                    <li class="menu__item">
                                                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                                                        <div class="menu__item-submenu-offset"></div>
                                                                                        <a class="menu__item-link" href="#">Soldering Dryers</a>
                                                                                    </li>
                                                                                    <li class="menu__item">
                                                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                                                        <div class="menu__item-submenu-offset"></div>
                                                                                        <a class="menu__item-link" href="#">Gas Soldering Iron</a>
                                                                                    </li>
                                                                                    <li class="menu__item">
                                                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                                                        <div class="menu__item-submenu-offset"></div>
                                                                                        <a class="menu__item-link" href="#">Electric Soldering Iron</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <!-- .menu / end -->
                                                                        </div>
                                                                    </li>
                                                                    <li class="menu__item">
                                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                                        <div class="menu__item-submenu-offset"></div>
                                                                        <a class="menu__item-link" href="#">Light Bulbs</a>
                                                                    </li>
                                                                    <li class="menu__item">
                                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                                        <div class="menu__item-submenu-offset"></div>
                                                                        <a class="menu__item-link" href="#">Batteries</a>
                                                                    </li>
                                                                    <li class="menu__item">
                                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                                        <div class="menu__item-submenu-offset"></div>
                                                                        <a class="menu__item-link" href="#">Light Fixtures</a>
                                                                    </li>
                                                                    <li class="menu__item">
                                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                                        <div class="menu__item-submenu-offset"></div>
                                                                        <a class="menu__item-link" href="#">Warm Floor</a>
                                                                    </li>
                                                                    <li class="menu__item">
                                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                                        <div class="menu__item-submenu-offset"></div>
                                                                        <a class="menu__item-link" href="#">Generators</a>
                                                                    </li>
                                                                    <li class="menu__item">
                                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                                        <div class="menu__item-submenu-offset"></div>
                                                                        <a class="menu__item-link" href="#">UPS</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!-- .menu / end -->
                                                        </div>
                                                    </li>
                                                    <li class="departments__item">
                                                        <a class="departments__item-link" href="#">Power Machinery</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <button class="departments__button">
                                            <svg class="departments__button-icon" width="18px" height="14px">
                                                <use xlink:href="images/sprite.svg#menu-18x14"></use>
                                            </svg> Shop By Category
                                            <svg class="departments__button-arrow" width="9px" height="6px">
                                                <use xlink:href="images/sprite.svg#arrow-rounded-down-9x6"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <!-- .departments / end -->
                                </div>
                                <!-- .nav-links -->
                                <div class="nav-panel__nav-links nav-links">
                                    <ul class="nav-links__list">
                                        <li class="nav-links__item nav-links__item--has-submenu">
                                            <a class="nav-links__item-link" href="index.html">
                                                <div class="nav-links__item-body">
                                                    Home
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-links__item nav-links__item--has-submenu">
                                            <a class="nav-links__item-link" href="account-login.html">
                                                <div class="nav-links__item-body">
                                                    Account
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-links__item nav-links__item--has-submenu">
                                            <a class="nav-links__item-link" href="blog-classic.html">
                                                <div class="nav-links__item-body">
                                                    Blog
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-links__item nav-links__item--has-submenu">
                                            <a class="nav-links__item-link" href="blog-classic.html">
                                                <div class="nav-links__item-body">
                                                    About
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-links__item nav-links__item--has-submenu">
                                            <a class="nav-links__item-link" href="blog-classic.html">
                                                <div class="nav-links__item-body">
                                                    Contact
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- .nav-links / end -->
                                <div class="nav-panel__indicators">
                                    <div class="indicator">
                                        <a href="wishlist.html" class="indicator__button">
                                            <span class="indicator__area">
                                                <svg width="20px" height="20px">
                                                    <use xlink:href="images/sprite.svg#heart-20"></use>
                                                </svg>
                                                <span class="indicator__value">0</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="indicator indicator--trigger--click">
                                        <a href="cart.html" class="indicator__button">
                                            <span class="indicator__area">
                                                <svg width="20px" height="20px">
                                                    <use xlink:href="images/sprite.svg#cart-20"></use>
                                                </svg>
                                                <span class="indicator__value">3</span>
                                            </span>
                                        </a>
                                        <div class="indicator__dropdown">
                                            <!-- .dropcart -->
                                            <div class="dropcart dropcart--style--dropdown">
                                                <div class="dropcart__body">
                                                    <div class="dropcart__products-list">
                                                        <div class="dropcart__product">
                                                            <div class="dropcart__product-image">
                                                                <a href="product.html">
                                                                    <img src="images/products/product-1.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="dropcart__product-info">
                                                                <div class="dropcart__product-name">
                                                                    <a href="product.html">Electric Planer Brandix KL370090G 300 Watts</a>
                                                                </div>
                                                                <ul class="dropcart__product-options">
                                                                    <li>Color: Yellow</li>
                                                                    <li>Material: Aluminium</li>
                                                                </ul>
                                                                <div class="dropcart__product-meta">
                                                                    <span class="dropcart__product-quantity">2</span> ×
                                                                    <span class="dropcart__product-price">$699.00</span>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
                                                                <svg width="10px" height="10px">
                                                                    <use xlink:href="images/sprite.svg#cross-10"></use>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                        <div class="dropcart__product">
                                                            <div class="dropcart__product-image">
                                                                <a href="product.html">
                                                                    <img src="images/products/product-2.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="dropcart__product-info">
                                                                <div class="dropcart__product-name">
                                                                    <a href="product.html">Undefined Tool IRadix DPS3000SY 2700 watts</a>
                                                                </div>
                                                                <div class="dropcart__product-meta">
                                                                    <span class="dropcart__product-quantity">1</span> ×
                                                                    <span class="dropcart__product-price">$849.00</span>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
                                                                <svg width="10px" height="10px">
                                                                    <use xlink:href="images/sprite.svg#cross-10"></use>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                        <div class="dropcart__product">
                                                            <div class="dropcart__product-image">
                                                                <a href="product.html">
                                                                    <img src="images/products/product-5.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="dropcart__product-info">
                                                                <div class="dropcart__product-name">
                                                                    <a href="product.html">Brandix Router Power Tool 2017ERXPK</a>
                                                                </div>
                                                                <ul class="dropcart__product-options">
                                                                    <li>Color: True Red</li>
                                                                </ul>
                                                                <div class="dropcart__product-meta">
                                                                    <span class="dropcart__product-quantity">3</span> ×
                                                                    <span class="dropcart__product-price">$1,210.00</span>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
                                                                <svg width="10px" height="10px">
                                                                    <use xlink:href="images/sprite.svg#cross-10"></use>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="dropcart__totals">
                                                        <table>
                                                            <tr>
                                                                <th>Subtotal</th>
                                                                <td>$5,877.00</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Shipping</th>
                                                                <td>$25.00</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Tax</th>
                                                                <td>$0.00</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Total</th>
                                                                <td>$5,902.00</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="dropcart__buttons">
                                                        <a class="btn btn-secondary" href="cart.html">View Cart</a>
                                                        <a class="btn btn-primary" href="checkout.html">Checkout</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- .dropcart / end -->
                                        </div>
                                    </div>
                                    <div class="indicator indicator--trigger--click">
                                        <a href="account-login.html" class="indicator__button">
                                            <span class="indicator__area">
                                                <svg width="20px" height="20px">
                                                    <use xlink:href="images/sprite.svg#person-20"></use>
                                                </svg>
                                            </span>
                                        </a>
                                        <div class="indicator__dropdown">
                                            <div class="account-menu">
                                                <form class="account-menu__form">
                                                    <div class="account-menu__form-title">Log In to Your Account</div>
                                                    <div class="form-group">
                                                        <label for="header-signin-email" class="sr-only">Email address</label>
                                                        <input id="header-signin-email"
                                                               type="email"
                                                               class="form-control form-control-sm"
                                                               placeholder="Email address">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="header-signin-password" class="sr-only">Password</label>
                                                        <div class="account-menu__form-forgot">
                                                            <input id="header-signin-password"
                                                                   type="password"
                                                                   class="form-control form-control-sm"
                                                                   placeholder="Password">
                                                            <a href="#" class="account-menu__form-forgot-link">Forgot?</a>
                                                        </div>
                                                    </div>
                                                    <div class="form-group account-menu__form-button">
                                                        <button type="submit" class="btn btn-primary btn-sm">Login</button>
                                                    </div>
                                                    <div class="account-menu__form-link">
                                                        <a href="account-login.html">Create An Account</a>
                                                    </div>
                                                </form>
                                                <div class="account-menu__divider"></div>
                                                <a href="account-dashboard.html" class="account-menu__user">
                                                    <div class="account-menu__user-avatar">
                                                        <img src="images/avatars/avatar-3.jpg" alt="">
                                                    </div>
                                                    <div class="account-menu__user-info">
                                                        <div class="account-menu__user-name">Helena Garcia</div>
                                                        <div class="account-menu__user-email">stroyka@example.com</div>
                                                    </div>
                                                </a>
                                                <div class="account-menu__divider"></div>
                                                <ul class="account-menu__links">
                                                    <li>
                                                        <a href="account-profile.html">Edit Profile</a>
                                                    </li>
                                                    <li>
                                                        <a href="account-orders.html">Order History</a>
                                                    </li>
                                                    <li>
                                                        <a href="account-addresses.html">Addresses</a>
                                                    </li>
                                                    <li>
                                                        <a href="account-password.html">Password</a>
                                                    </li>
                                                </ul>
                                                <div class="account-menu__divider"></div>
                                                <ul class="account-menu__links">
                                                    <li>
                                                        <a href="account-login.html">Logout</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- desktop site__header / end -->
        <!-- site__body -->
        <div class="site__body">
            @RenderBody()
        </div>
        <!-- site__body / end -->

        <footer class="site__footer">
            <div class="site-footer">
                <div class="container">
                    <div class="site-footer__widgets">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="site-footer__widget footer-contacts">
                                    <h5 class="footer-contacts__title">Contact Us</h5>
                                    <div class="footer-contacts__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in feugiat lorem. Pellentque ac placerat tellus.</div>
                                    <ul class="footer-contacts__contacts">
                                        <li>
                                            <i class="footer-contacts__icon fas fa-globe-americas"></i> 715 Fake Street, New York 10021 USA
                                        </li>
                                        <li>
                                            <i class="footer-contacts__icon far fa-envelope"></i> stroyka@example.com
                                        </li>
                                        <li>
                                            <i class="footer-contacts__icon fas fa-mobile-alt"></i> (800) 060-0730, (800) 060-0730
                                        </li>
                                        <li>
                                            <i class="footer-contacts__icon far fa-clock"></i> Mon-Sat 10:00pm - 7:00pm
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-2">
                                <div class="site-footer__widget footer-links">
                                    <h5 class="footer-links__title">Information</h5>
                                    <ul class="footer-links__list">
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">About Us</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">Delivery Information</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">Privacy Policy</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">Brands</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">Contact Us</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">Returns</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">Site Map</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-2">
                                <div class="site-footer__widget footer-links">
                                    <h5 class="footer-links__title">My Account</h5>
                                    <ul class="footer-links__list">
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">Store Location</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">Order History</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">Wish List</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">Newsletter</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">Specials</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">Gift Certificates</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">Affiliate</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-4">
                                <div class="site-footer__widget footer-newsletter">
                                    <h5 class="footer-newsletter__title">Newsletter</h5>
                                    <div class="footer-newsletter__text">Praesent pellentesque volutpat ex, vitae auctor lorem pulvinar mollis felis at lacinia.</div>
                                    <form action="#" class="footer-newsletter__form">
                                        <label class="sr-only" for="footer-newsletter-address">Email Address</label>
                                        <input type="text"
                                               class="footer-newsletter__form-input form-control"
                                               id="footer-newsletter-address"
                                               placeholder="Email Address...">
                                        <button class="footer-newsletter__form-button btn btn-primary">Subscribe</button>
                                    </form>
                                    <div class="footer-newsletter__text footer-newsletter__text--social">Follow us on social networks</div>
                                    <ul class="footer-newsletter__social-links">
                                        <li class="footer-newsletter__social-link footer-newsletter__social-link--facebook">
                                            <a href="https://themeforest.net/user/kos9" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="footer-newsletter__social-link footer-newsletter__social-link--twitter">
                                            <a href="https://themeforest.net/user/kos9" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="footer-newsletter__social-link footer-newsletter__social-link--youtube">
                                            <a href="https://themeforest.net/user/kos9" target="_blank">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                        <li class="footer-newsletter__social-link footer-newsletter__social-link--instagram">
                                            <a href="https://themeforest.net/user/kos9" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="footer-newsletter__social-link footer-newsletter__social-link--rss">
                                            <a href="https://themeforest.net/user/kos9" target="_blank">
                                                <i class="fas fa-rss"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="site-footer__bottom">
                        <div class="site-footer__copyright">
                            Powered by HTML — Design by
                            <a href="https://themeforest.net/user/kos9" target="_blank">Kos</a>
                        </div>
                        <div class="site-footer__payments">
                            <img src="images/payments.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="totop">
                    <div class="totop__body">
                        <div class="totop__start"></div>
                        <div class="totop__container container"></div>
                        <div class="totop__end">
                            <button type="button" class="totop__button">
                                <svg width="13px" height="8px">
                                    <use xlink:href="images/sprite.svg#arrow-rounded-up-13x8"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist//bootstrap.bundle.min.js"></script>
        <script src="~/site.js" asp-append-version="true"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/~/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="vendor/nouislider/nouislider.min.js"></script>
    <script src="vendor/photoswipe/photoswipe.min.js"></script>
    <script src="vendor/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="vendor/select2/~/js/select2.min.js"></script>
    <script src="~/js/number.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/header.js"></script>
    <script src="vendor/svg4everybody/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
